* {
    margin: 0;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.greenColor{
    color: green;
}

.redColor{
    color: red;
}

.top {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.MuiAvatar-img {
    object-fit: contain;
}

.cancel-icon {
    margin-left: auto;
}

.gapping {
    margin-left: 5%;
    margin-right: 5%;
}

.noti-cursor {
    cursor: default;
}

.icon-cursor:hover {
    cursor: pointer;
}

.simplebar-content {
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}


.pagination{
    margin-top: 4vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
